* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  background-color: black;
  width: 100%;
  min-height: 100vh;
}
#cursor {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: lightblue;
  position: fixed;
  z-index: 1;
}

.hero {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#image {
  width: 60vw;
  height: 50vh;
  position: relative;
}
#image #overlay {
  width: 100%;
  height: 100%;
  z-index: 2;

  position: absolute;
  top: 0;
  left: 0;
}
#image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
